{include file="public/header"/}
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <div>尊敬的会员<span id="weather"></span></div>
    </div>
    <!-- 上方tab -->
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>总订单量</h5>
                </div>
                <div class="ibox-content">
                    <h3 class="no-margins">{$order_count}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>今日新增订单量</h5>
                </div>
                <div class="ibox-content">
                    <h3 class="no-margins">{$today_order_count}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>总会员量</h5>
                </div>
                <div class="ibox-content">
                    <h3 class="no-margins">{$member_count}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>今日新增会员量</h5>
                </div>
                <div class="ibox-content">
                    <h3 class="no-margins">{$today_member_count}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="public/footer" /}
<script src="/static/admin/js/jquery.leoweather.min.js"></script>
<script type="text/javascript">
    $('#weather').leoweather({format:'，{时段}好！<span id="colock">现在时间是：<strong>{年}年{月}月{日}日 星期{周} {时}:{分}:{秒}</strong></span>'});
</script>

</body>
</html>